{% extends "base.html" %}
{% load url from future %}

{% block head_includes %}
{% endblock %}

{% block content %}

<div id="id_plan-form">
  <div class="field">
    <input name="title" id="id_title" value="{{ plan.title }}" placeholder="Plan Title">
  </div>
  <div class="field-wrapper">
    <p><a href="#">{{ user.username }}</a> made this plan because:</p>
    <div class="field">
      <textarea name="motivation" id="id_motivation" placeholder="Why this plan is important to me...">{{ plan.motivation }}</textarea>
    </div>
  </div>
  <div class="field">
    <textarea name="details" id="id_details" placeholder="The plan details...">{{ plan.details }}</textarea>
  </div>
</div>

<script>
  {% if plan_data %}
  var planData = {{ plan_data|safe }};
  {% else %}
  var planData = {owner: {{ user.pk|default:"1" }} };
  {% endif %}

  var Coplan = Coplan || {};
  Coplan.planUrlRoot = '{% url "plan_list" %}';
</script>

<script src="{{ STATIC_URL }}coplan/js/models.js"></script>
<script src="{{ STATIC_URL }}coplan/js/views.js"></script>

<script>
  var plan = new Coplan.Plan(planData);
  var planView = new Coplan.PlanView({model: plan});
</script>

{% endblock %}

